

<div>
	<h3>@title</h3>
	<div>
		<img width="300" height="250" src="@ShowImage()" />
	</div>
	<br />
	<div>
		<input type="button" class="btn btn-primary" value="@ButtonName()" @onclick=" HandleClick" />

	</div>
</div>



@code {

	[Parameter]
	public string title { get; set; } = "default";
	[Parameter]
	public string imageName { get; set; } = "default";
	[Parameter]
	public string buttonLabel { get; set; } = "default";

	public string ShowImage()
	{
		return $"Media/{imageName}.png";
	}

	public string ButtonName()
	{
		return buttonLabel;
	}

	[Parameter]
	public EventCallback<MouseEventArgs> OnGenericClick{get; set; }


	[Parameter]
	public EventCallback<string> OnGenericClickWithType {get; set; }

	public async Task HandleClick()
	{
		if (OnGenericClickWithType.HasDelegate)
		{
			await OnGenericClickWithType.InvokeAsync(title);
		}
		else if (OnGenericClick.HasDelegate)
		{
			await OnGenericClick.InvokeAsync(new MouseEventArgs());
		}

	}
}
