@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome!</h1>

Welcome to my Blazor WebAssembly project! 
This project demonstrates my skills in building interactive web applications using C#, HTML, and CSS.


